@font-face {
  font-family: "iconfont"; /* Project id 3768878 */
  src: url('iconfont.woff2?t=1668568016408') format('woff2'),
       url('iconfont.woff?t=1668568016408') format('woff'),
       url('iconfont.ttf?t=1668568016408') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huidingbu:before {
  content: "\e66c";
}

.icon-android1:before {
  content: "\e62a";
}

.icon-luyouqi-:before {
  content: "\e612";
}

.icon-diannao:before {
  content: "\e638";
}

.icon-Android:before {
  content: "\e9a9";
}

.icon-VRD:before {
  content: "\e6ac";
}

.icon-24gl-headphones:before {
  content: "\ea09";
}

.icon-shouji1:before {
  content: "\e853";
}

.icon-gengduo1:before {
  content: "\e621";
}

.icon-flat:before {
  content: "\e92a";
}

.icon-TVdianshi:before {
  content: "\e7ab";
}

.icon-zhuce:before {
  content: "\e71c";
}

.icon-denglu:before {
  content: "\e6bd";
}

.icon-xitongfanhui:before {
  content: "\e697";
}

.icon-gengduo:before {
  content: "\e626";
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-VRglasses:before {
  content: "\e613";
}

.icon-dianshi:before {
  content: "\e67d";
}

.icon-shoubiao:before {
  content: "\e614";
}

.icon-pingban:before {
  content: "\e605";
}

.icon-luyouqi:before {
  content: "\ec62";
}

.icon-android:before {
  content: "\e715";
}

.icon-shouji:before {
  content: "\e8b9";
}

.icon-bijibendiannao:before {
  content: "\e667";
}

.icon-outline-airpods:before {
  content: "\e6a5";
}

